.container

  form action='/bookranking' method='get' id='ranking-form'
    input type='date' name='date' id='home-form-date' placeholder='Select the date'
    input type='submit' id='home-form-submit' class='submit' value='submit'
